.main-content {
    row-gap: 0px;

    &__pretitle {
        font-weight: 500;
    }

    &__title {
        font-weight: 300;
    }

    &__flex {
        display: flex;
        flex-direction: row;   
        align-items: center;     
        column-gap: 30px;
    }

    &__button {
        width: 250px;
        height: 70%;
    }
  
    .right-arrow {
        &::after {
          content: "";
          position: absolute;
          background: url(../images/right-arrow.svg);
          left: 28px;
          top: 40%;
          width: 25px;
          height: 18px;
        }
    } 
}
